<h1>Post Search</h1>

<form [formGroup]="searchForm" novalidate>
    <input placeholder="Search..." type="text" formControlName="searchInput" name="searchInput" >
    <div *ngIf="searchForm.invalid && (searchForm.dirty || searchForm.touched)" style="color:red">
        <div *ngIf="searchForm.get('searchInput').hasError('minlength') && searchForm.get('searchInput').touched">
            Search text must be at least 3 characters long.
        </div>
    </div>
</form>

<ul>
    <li *ngFor="let post of posts$|async;let i = index;">
        {{ post.createdAt | date : 'dd/MMM/yyyy hh:mm' }} - {{ post.title }}
    </li>
</ul>


<div *ngIf="(posts$|async)?.length < 1">
    <p>Sorry, no posts found</p>
</div>
